--extra-index-url https://download.pytorch.org/whl/cu128

packaging==25.0
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
vllm==0.10.0
transformers==4.53.2
tokenizers==0.21.2
huggingface-hub[hf_xet]==0.33.4
mistral-common[audio,hf-hub,image]==1.8.4
xgrammar==0.1.21
outlines-core==0.2.10
